* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --WHITE: #FFFFFF;
  --GREEN: #1B873F;
  --PINK: #FF008E;
  --ORANGE: #FF7A29;
  --YELLOW: #FFCD1E;

  --BLACK-PRIMARY: #09090A;
  --BLACK-SECONDARY: #121214;
  --BLACK-TERTIARY: #202024;

  --GRAY-PRIMARY: #8D8D99;
  --GRAY-SECONDARY: #C4C4CC;
  --GRAY-TERTIARY: #E1E1E6;
  --GRAY-QUATERNARY: #29292E;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--BLACK-SECONDARY);
  color: var(--GRAY-TERTIARY);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

body, input, textarea, select, button {
  font: 400 1rem 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}