.sendMessageFormWrapper {
  background: #1B1B1F;
  padding: 1.5rem;
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  position: relative;
}

.signOutButton {
  background: transparent;
  border: 0;
  color: var(--GRAY-SECONDARY);
  transition: color 0.2;
  
  position: absolute;
  left: 24px;
  top: 24px;

  cursor: pointer;

  &:hover {
    color: var(--PINK)
  }
}

.signedUserInformation {
  display: flex;
  flex-direction: column;
  align-items: center;

  .userImage {
    padding: 0.1875rem;
    background: linear-gradient(104.3deg, var(--PINK) 0.48%, var(--YELLOW) 100%);
    border-radius: 50%;
    line-height: 0;

    img {
      width: 5.875rem;
      height: 5.875rem;
      border-radius: 50%;
      border: 6px solid var(--BLACK-SECONDARY);
    }
  }

  .userName {
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-top: 1rem;
  }

  .userGithub {
    display: flex;
    align-items: center;
    
    margin-top: 0.5rem;
    color: var(--GRAY-SECONDARY);

    svg {
      margin-right: 0.5rem;
    }
  }
}

.sendMessageForm {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-top: 3rem;

  background: var(--BLACK-TERTIARY);

  label {
    padding: 1.125rem 1.5rem;
    font-size: 1.25rem;
    background: var(--GRAY-QUATERNARY);
    font-weight: bold;
    text-align: left;
  }

  textarea {
    background: transparent;
    border: 0;
    padding: 1.5rem;
    resize: none;
    height: 10rem;
    color: var(--GRAY-TERTIARY);
    font-size: 1rem;
    line-height: 1.5rem;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: var(--GRAY-PRIMARY);
    }
  }

  button {
    background: var(--PINK);
    align-self: flex-end;
    cursor: pointer;
    border: 0;
    margin: 1.5rem;
    padding: 0 2rem;
    height: 2.5rem;
    color: var(--WHITE);
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: filter 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      filter: brightness(0.9);
    }
  }
}